* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  color: white;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

:root {
  --color-1: rgb(255 192 0);
  --color-2: rgb(255, 0, 0);
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url("Assets/BG_Img/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Nav Bar */

nav {
  width: 80%;
  height: 8vh;
  /* background-color: red; */
  margin:  auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 30px;
}

nav .logo span {
  color: var(--color-1)
}

nav .nav_menu {
  width: 50%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav_menu a {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

nav .nav_menu a::before{
  content: "";
  width: 0;
  position: absolute;
  height: 2px;
  top: 20px;
  border-bottom: 2px solid white;
  transition: all 0.3s linear;
}

nav .nav_menu a:hover::before{
  width: 100%;
}

nav .nav_menu a:first-child {
  color: var(--color-1);
}

nav .nav_menu a.btn {
  background-color: black;
  color: var(--color-2);
  border-radius: 15px;
  padding: 7px 20px;
}

nav .nav_menu img{
  width: 0;
}

/* main Part */

main {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .left_side {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .left_side div {
  margin: 20px 0;
}

main .left_side .bca {
  font-size: 40px;
}

main .left_side .term {
  font-size: 30px;
}

main .left_side .bca_info {
  font-size: 20px;
}

main .right_side {
  width: 50%;
}

main .right_side img {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer p {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:800px){

  body{
    width: 100vw;
    height: 100vh;
    background-image: url("Assets/BG_Img/bg_1.jpg");
    background-position: left;
    /* background-repeat: repeat; */
  }

  nav {
    /* padding: 10px 0; */
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    /* margin: 10px 0 10px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav .logo {
    margin-top: 5px;
    width: 95vw;
    padding: 10px 0 20px 0;
    font-size: 40px;
    display : flex;
    justify-content : center;
    align-items : center ;
  }
  
  nav .nav_menu {
    width: 95vw;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .nav_menu a {
    width: 95vw;
    /* visibility: hidden; */
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }

   /* nav .nav_menu img{
    width: 30%;
    position: relative;
    right: 20px;
    cursor: pointer;
  } */

  main {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main .left_side {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  main .left_side div {
    margin: 10px 0;
  }
  
  main .left_side .bca {
    font-size: 40px;
    margin-top: 90px;
  }
  
  main .left_side .term {
    font-size: 27px;
  }
  
  main .left_side .bca_info {
    font-size: 19px;
    text-wrap: wrap;
  }

  main .right_side {
    width: 100vw;
    height: 50vh;
  }
  
  main .right_side img {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    height: 5vh;
    width: 100vw;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}