*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display : flex;
    justify-content : space-evenly;
    align-items : center ;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: gray;
    color: white;
    padding: 20px 0;
    margin: auto;
}

body > h1{
    text-decoration: underline;
}

main{
    margin: auto;
    width: 80%;
    height: 100%;
    /* background-color: #bdbdbd; */
    border-radius: 10px;
}

main .cards{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: rgb(0, 0, 0);
    place-items: center;
}

main .cards .card{
    height: 80%;
    width: 90%;
    background-color: #c5c5c5;
    border-radius: 15px;
    display : flex;
    flex-direction: column;
    justify-content : space-around;
    align-items : center ;
}

main .cards .card .title{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : center ;
}

main .cards .card .title h1{
    font-size:40px;
}

main .cards .card .title h3{
    font-size:25px;
}

main .cards .card .btn{
    padding: 15px 0;
    width: 90%;
    /* background-color: #fff; */
    display : flex;
    justify-content : space-evenly;
    align-items : center ;
    font-size: 20px;
    gap: 20px;
}

main .cards .card .btn a{
    text-decoration: none;
    color: black;
}

main .cards .card .btn .preview{
    background-color: lime;
    padding: 7px 20px;
    border-radius: 12px;
}

main .cards .card .btn .preview:hover{
    background-color: rgb(0, 224, 0);
}

main .cards .card .btn .download{
    background-color: cyan;
    padding: 7px 15px;
    border-radius: 12px;
}

main .cards .card .btn .download:hover{
    background-color: rgb(0, 214, 214);
}

@media only screen and (max-width:1000px) {

    main .cards{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        color: rgb(0, 0, 0);
        place-items: center;
    }
    main .cards .card{
        /* height: 100%; */
        /* width: 100%; */
        background-color: #c5c5c5;
        border-radius: 15px;
        display : flex;
        flex-direction: column;
        justify-content : space-around;
        align-items : center ;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width:370px) {

    body{
        display : flex;
        justify-content : space-between;
        align-items : center ;
    }
    /* main .cards{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        color: rgb(0, 0, 0);
        place-items: center;
    } */
    main .cards .card{
        /* height: 90%; */
        /* width: 100%; */
        background-color: #c5c5c5;
        border-radius: 15px;
        display : flex;
        flex-direction: column;
        justify-content : space-around;
        align-items : center ;
        padding-bottom: 30px;
    }
    main .cards .card .btn{
        padding: 15px 0;
        width: 90%;
        /* background-color: #fff; */
        display : flex;
        justify-content : space-evenly;
        align-items : center ;
        font-size: 10px;
        gap: 20px;
    }

    main .cards .card .title h1{
        font-size:30px;
    }
    
    main .cards .card .title h3{
        font-size:20px;
    }
}